[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
mysqlclient = "*"
response = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"

[dev-packages]
isort = "*"
django-dotenv = "*"

[requires]
python_version = "3.11"
